#plugin__statistics {

    div.plg_stats_timeselect {
        display: flex;
        gap: 0.5em;
        flex-wrap: wrap;
        margin-bottom: 1em;

        ul,
        ul li,
        form {
            list-style-type: none;
            display: inline;
            margin: 0;
            padding: 0;
            text-align: left;
        }

        ul, form {
            display: flex;
            gap: 0.5em;
        }

        input.edit {
            width: 8em;
        }
    }

    div.plg_stats_top {
        display: flex;
        flex-wrap: wrap;
        gap: 2em;

        ul, li {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }

    table {
        min-width: 50%;
    }

    chart-component {
        display: block;
        margin: 1em 0;
    }

    // Pager styles
    .plg_stats_pager {
        width: 100%;

        a.next {
            float: right;
        }

        a.prev {
            float: left;
        }
    }
}
